In [1]:
import pandas as pd
import csv

In [2]:
#DATAFRAMES
df = pd.read_csv("balance.csv")

In [3]:
df.head(1)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
0,BOPQ.S06AC000000000A,1971.06,426.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [4]:
df.dtypes

Series_reference     object
Period              float64
Data_value          float64
Suppressed          float64
STATUS               object
UNITS                object
MAGNTUDE              int64
Subject              object
Group                object
Series_title_1       object
dtype: object

In [5]:
df["Series_title_1"].unique()

array(['Actual', 'Seasonally adjusted', 'Trend'], dtype=object)

In [6]:
df[["Period","Data_value"]].head(5)

    Period  Data_value
0  1971.06       426.0
1  1971.09       435.0
2  1971.12       360.0
3  1972.03       417.0
4  1972.06       528.0

In [7]:
df[(df.Period==2000.12)].head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
118,BOPQ.S06AC000000000A,2000.12,12820.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
325,BOPQ.S06AC000000000B,2000.12,0.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [8]:
df.loc[(df.Period==2000.12), "MAGNTUDE"] = 100

In [9]:
df[(df.Period==2000.12)].head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
118,BOPQ.S06AC000000000A,2000.12,12820.0,NaN,F,Dollars,100,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
325,BOPQ.S06AC000000000B,2000.12,0.0,NaN,F,Dollars,100,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [10]:
df.loc[(df.STATUS=="F"), "UNITS"] = "Pesos"

In [11]:
df[(df.STATUS=="F")].head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
0,BOPQ.S06AC000000000A,1971.06,426.0,NaN,F,Pesos,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
1,BOPQ.S06AC000000000A,1971.09,435.0,NaN,F,Pesos,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [12]:
#DROPEAR -> eliminar files
#Eliminar las filasc cuyo valor de STATUS sea igual a F

df = df.drop(df[(df.STATUS=="F")].index)

In [13]:
df.head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
195,BOPQ.S06AC000000000A,2020.03,26365.0,NaN,R,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
196,BOPQ.S06AC000000000A,2020.06,21663.0,NaN,R,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [14]:
df.to_csv("dataset_limpio.csv", index=False)

In [15]:
df.to_parquet('prueba.snappy.parquet',compression='snappy')

In [16]:
#DATAFRAMES
df = pd.read_csv("balance.csv")

df.to_parquet('sin_modificaciones.snappy.parquet',compression='snappy')